/*
 
index.html CSS Properties
 
 */

body {
	background-color: #222;
	#background-image: url('../Images/Abstract_Vaporwave_Background.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

#TitleFormat {
	color: #FFFFFF;
	text-align: center;
	background-color: #333;
}

#TitleGlow {
  #background-color: black;
  font-family: cursive;
}

.glow {
  font-size: 15px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #E6B800, 0 0 40px #E6C000, 0 0 50px #E6BB00, 0 0 60px #E6BF00, 0 0 70px #E6CC00;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #794DFF, 0 0 40px #574DFF, 0 0 50px #4D5AFF, 0 0 60px #4D71FF, 0 0 70px #4D63FF, 0 0 80px #514DFF;
  }
}

.button {
	#background-color: #000;
	border: 2px solid #FFFFFF;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: auto;
	cursor: pointer;
	#opacity: 70%;
	width: 15%
}

.button1 {background-color: #222;} /* Black */
.button2 {background-color: #222;} /* Black */
.button3 {background-color: #222;} /* Black */
.button4 {background-color: #222;} /* Black */
.button5 {background-color: #222;} /* Black */
.button6 {background-color: #222;} /* Black */

#Image1 {
	bottom: -240px;
	left: 535px;
	position: relative;
}

#SubTitleFormat1 {
	#background-color: black;
	width: 300px;
	top: 68px;
	left: 41%;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: relative;
}

#TextBox1Center {
	#background-color: black;
	width: 690px;
	left: 31%;
	top: 260px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox1 {
	#background-color: black;
	width: 680px;
	left: 13%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox2 {
	#background-color: black;
	width: 690px;
	left: 50%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	position: absolute;
	#opacity: 70%;
}


#TextBoxParagraph1 {
	#background-color: black;
	text-align: center;
	font-size: 25px;
	color: white;
}

#TextBoxParagraph2 {
	#background-color: black;
	text-align: center;
	font-size: 25px;
	color: white;
}

#PageManager1 {
	z-index: 1;
	position: fixed;
	width: 80%;
	left: 13%;
}

/*
 
projects.html CSS Properties
 
 */

#Catagory3 {
	#background-color: black;
	width: 300px;
	left: 41%;
	top: 150px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox3 {
	#background-color: black;
	width: 300px;
	left: 23%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox4 {
	#background-color: black;
	width: 300px;
	left: 41%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox5 {
	#background-color: black;
	width: 300px;
	left: 59%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#SubTitleFormat2 {
	#background-color: black;
	width: 300px;
	top: 70px;
	left: 41%;
	text-align: center;
	font-size: 25px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: relative;
}

#TextBoxParagraph3 {
	#background-color: black;
	text-align: center;
	font-size: 23px;
	color: white;
}

#TextBoxParagraph4 {
	#background-color: black;
	text-align: center;
	font-size: 18px;
	color: white;
}

/*
 
news-posts.html CSS Properties
 
 */

#Catagory1 {
	#background-color: black;
	width: 300px;
	left: 25%;
	top: 160px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#Catagory1_5 {
	#background-color: black;
	width: 300px;
	left: 25%;
	top: 150px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox6 {
	#background-color: black;
	width: 300px;
	left: 15%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox7 {
	#background-color: black;
	width: 300px;
	left: 32%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox8 {
	#background-color: black;
	width: 300px;
	left: 49%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBoxParagraph5 {
	#background-color: black;
	text-align: center;
	font-size: 22px;
	color: white;
}

#TextBox9 {
	#background-color: black;
	width: 300px;
	left: 66%;
	top: 250px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#TextBox10 {
	#background-color: black;
	width: 800px;
	left: -60%;
	top: 350px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

#Catagory2 {
	#background-color: black;
	width: 300px;
	left: 57%;
	top: 170px;
	text-align: center;
	font-size: 30px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: absolute;
}

/*
 
error404.html CSS Properties
 
 */

#SubTitleFormat3 {
	#background-color: black;
	width: 300px;
	top: 100px;
	left: 41%;
	text-align: center;
	font-size: 25px;
	color: white;
	border: 2px solid #FFFFFF;
	#opacity: 70%;
	position: relative;
}
